name: Cargo-check

on:
  push:
    branches:
    - main
    paths:
    - '**.rs'
  pull_request:
    branches:
    - "main"
    paths:
    - '**.rs'
    
env:
  CARGO_TERM_COLOR: always
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0

jobs:

  check_rust:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout directory
        uses: actions/checkout@v5
        
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Cargo check
        run: cargo check --locked